.example1 {
/* Выстраиваем элементы в 4 столбца, элементы занимают ширину */

/* строго в соответствии с указанным ниже размером */
  /* grid-template-columns: 200px 20% 12rem 80mm; */

/* Элементы могут вылезти за рамки контейнера 🔥🔥🔥🔥*/
  /* grid-template-columns: 800px 20% 12rem 80mm; */

/* Выстраиваем элементы во всем пространстве с пропорциями */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */

/* Чтобы не повторять код многократно, можно использовать функцию repeat() */
  grid-template-columns: repeat(2, 1fr) 1fr 1fr;

/* Для строк также можно указывать параметры в пропорциях и абс величинах
  параметр авто занимает высоту по контенту, так же для пропущенных строк */
  grid-template-rows: 100px auto 20em
}

.example2 {
  /* grid-template-columns: repeat(4, 1fr); */
/* Пропорция по высоте сохраняется пока не будет добавлен разнородный контент */
  /* height: 30vh; */

/* Ширина столбцов по самому длинному слову контента внетри (добавить длинное слово 🔥) */
  /* grid-template-columns: repeat(4, min-content); */

/* Ширина столбцов по наибольшей длине контента (добавить предложение 🔥) */
  /* grid-template-columns: repeat(4, max-content); */

/* Ужатие и растягивание по ширине контента (добавить предложение 🔥)*/
  /* grid-template-columns: minmax(300px, 1fr) minmax(550px, 1fr) */
  grid-template-columns: minmax(min-content, max-content) minmax(min-content, 1fr)
}

.example3 {
/* делят все доступное пространство по ширине по 50% вне зависимости от контента */
  /* grid-template-columns: repeat(2, 1fr) */

/* Если поставить авто, то деление будет в зависимости от контента */
  /* grid-template-columns: auto auto */
    /* 🔥🔥🔥 Однако если добавить еще колонку с поведением 1fr, 
    то ширина остальных будет по контенту 🔥🔥🔥 */
  /* grid-template-columns: auto auto 1fr */
  /* (добавить предложение в 12 элемент 🔥) 
  ширина ячейки с контентом во втором столбце не превымит 250px*/
  grid-template-columns: auto fit-content(250px)
}

.example4 {
  /* Отступы между столбцами и колонками */
  grid-template-columns: repeat(3, 1fr);
  /* grid-column-gap: 10px;
  grid-row-gap: 10px; */
  /* Либо */
  grid-gap: 10px 15px;
  /* Отступы складываются с маржинами элементов 🔥🔥🔥 */
}

.example5 {
/* Поочередное передача параметров ширины блокам */
  /* grid-template-columns: repeat(4, 1fr 50px); */
/* auto-fill & auto-fit -> параметрами передаются абсолютные величины */
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  /* grid-template-columns: repeat(auto-fill, 50%); */
  /* grid-template-columns: repeat(auto-fill, 100px); */
/* уменьшить кол-во элементов до 3-х, тогда будет видно разницу */
  /* grid-template-columns: repeat(auto-fit, 100px); */
    /* Пустое пространство будет заполнено такими же невидимыми блоками */
      /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    /* Если сделать auto-fit, то элемент по ширине выровняется по макс параметру ширины 1fr*/
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.example6 {
  /* выравнивание грид элементов и колонок внутри грид-контейнера */
  
  /* горизонтальное выравнивание 🔥🔥🔥*/
  grid-template-columns: repeat(4, 20%);
    /* выравнивание элементов внутри колонки */
    justify-items: stretch;

    /* выравнивание колонок внутри грид-контейнера */
    justify-content: space-evenly;

  /* вертикальное выравнивание 🔥🔥🔥*/
  grid-template-rows: repeat(4, 100px);
    /* выравнивание элементов внутри столбцов */
    align-items: center;

    /* выравнивание строк внутри грид-контейнера (height: 70vh;)*/
    align-content: space-evenly;
}

/* активировать для примера №6 */
.example6-1 {
  align-self: start;
  justify-self: end;
}

.example7 {
/* Привязка грид-элементов к грид-линиям */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 100px);  
}
/* активировать для примера №7 */
.example7-1 {
  /* grid-column-start: 1; */
/* для последней можно сразу указать -1 */
  /* grid-column-end: 4; */
/* либо через grid-column */
  /* Если указать больше grid-template-columns, то грид добавит еще колонок */
  grid-column: span 2 / -1;

/* Тоже для строк */
  grid-row: 2 / span 2;
}

.example8 {
  /* Привязка грид-элементов к грид-линии по имени */
  grid-template-columns: [left-column] 1fr [center-column] 200px [rigth-column] 1fr;
  grid-template-rows: [top-row] 100px [center-row] 120px [bottom-row] 150px;
}

.example8-1 {
  /* grid-column: left-column / rigth-column; */
  grid-column: left-column / -1;
  grid-row: center-row / bottom-row
}