* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* -webkit-transition:all .5s ease;
         -moz-transition:all .5s ease;
               -o-transition:all .5s ease;
                     transition:all 2s ease; */
}

body {
  background-color: #566064;
  font-family: arial;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-auto-flow: dense;
  max-width: 1170px;
  margin: 20px auto;
  border: 3px solid #EFDEC2;
  border-radius: 3px;
  font-size: 20px;
  color: #3C7696;
  text-align: center;
  /* grid-template-rows: repeat(3, 1fr); */
}

.button {
  background-color: #EFDEC2;
  border: 1px solid #566064;
  cursor: pointer;
  height: 40px;
  line-height: 40px
}

.button:nth-child(-n+6){
  grid-column: span 2
}

.button:nth-last-child(-n+2){
  grid-column: span 3
}

@media (max-width: 1050px) {
  .buttons {
    max-width: 950px;
    grid-template-columns: repeat(3, 1fr);
  }
  .button:nth-child(-n+6){
    grid-column: span 1
  }
  .button:nth-last-child(-n+2){
    grid-column: span 3
  }
}

@media (max-width: 750px) {

  .buttons {
    grid-template-columns: repeat(2, 1fr);
  }
  .button:nth-child(-n+4){
    grid-column: span 1
  }
  .button:nth-last-child(-n+4){
    grid-column: span 2
  }
}

@media (max-width: 550px) {
  .buttons {
    grid-template-columns: repeat(1, 1fr);
  }
  .button:nth-child(-n+8){
    grid-column: span 1
  }
}

.wrapper {
  display: grid;
  max-width: 1170px;
  margin: 50px auto;
  border: 3px solid #EFDEC2;
  border-radius: 3px;
  font-size: 20px;
  color: #E78680;
  text-align: center;
  /* vertical-align: bottom; */
  height: 70vh;
}

.item {
  border: 1px solid #B96B66;
  padding: 10px 0px;
  /* margin: 5px; */
}

